<header class="header" id="header">
  <!-- Nav-bar section -->
  <nav class="nav-bar flex-row" id="nav-desktop">
    <!-- Logo  -->
    <app-logo
      logoUrl="./assets/img/Port-Logo.svg"
      altText="My Company Logo"
      class="logo"
    ></app-logo>

    <!-- Nav-menu -->
    <div class="nav-menu">
      <ul class="mid-nav flex-row">
        <li *ngFor="let item of navItems" class="nav-item">
          <a class="nav-a" href="#{{ item.route }}">{{ item.label }}</a>
        </li>
      </ul>
    </div>

    <!-- Icons -->
    <div class="nav-contact">
      <div class="hero-icon">
        <div *ngFor="let item of hero_icon" class="icon-nav">
          <a href="{{ item.href }}" target="_blank">
            <i class="{{ item.class }}"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Hamburger Menu Button -->
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
