<main class="Container">
  <header class="hero flex-row">
    <div class="left">
      <div class="hero-body">
        <span class="span-subtitle">Hello I’m Swarup 👋🏽</span> <br />

        <h1 class="span-title">Frontend Developer</h1>
        <p class="hero-p">
          <strong>Namaste!</strong> I'm from Nepal. With my frontend development
          expertise, I can help you build interactive and user-friendly websites
          that shine and captivate your audience.
        </p>
      </div>

      <div class="herodiv-btn">
        <button type="button" id="hero-btn" class="">
          <a
            class="mailto"
            href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=bamjanswarup666@gmail.com"
            target="_blank"
            id="hero-btn-a"
            >Get in Touch ➤
          </a>
        </button>

        <button type="button" id="hero-btn" class="">
          <a href="img/Resume.pdf" id="hero-btn-a" download="swarup-resume"
            >Resume ➤
          </a>
        </button>
      </div>
    </div>

    <div class="right">
      <app-logo
        logoUrl="./assets/img/pana.svg"
        altText="profilepic"
        id="bg-pic"
      ></app-logo>
    </div>
  </header>
</main>
