<!-- Footer Section -->

<footer class="footer">
  <div class="footer-head">
    <div class="footer-logo grid-item" data-order="1">
    
      <app-logo
      logoUrl="./assets/img/Port-Logo.svg"
      style="height: 30px"
      class="footer-logo"
      altText="Logo"
      
    ></app-logo>
      <br />
      <!-- <span class="footer-title"><em>Swarup-Tech</em></span> -->
    </div>

    <div class="footer-nav grid-item" data-order="2">
      <ul class="footer-ul">
        <li class="footer-li"><a href="#hero" class="nav-a">Blog</a></li>
        <li class="footer-li">
          <a href="#about" class="nav-a">Contact</a>
        </li>

        <li class="footer-li">
          <a href="#skills" class="nav-a">Services</a>
        </li>

        <li class="footer-li">
          <a href="#Projects" class="nav-a">Project</a>
        </li>

        <!-- <li class="footer-li"><a href="#contact">Contact</a></li> -->
      </ul>
    </div>

    <div class="footer-icon grid-item" data-order="3">
     
      <app-logo
      logoUrl="./assets/img/figma.png"
      
      class="footer-logo"
      altText="Figma"
      
    ></app-logo>
      
      <app-logo
      logoUrl="./assets/img/github.png"
      class="footer-logo"
      altText="GIT"
      
    ></app-logo>
      
    </div>
  </div>
  

  <div class="divider-p" style="
  padding: 1rem;">
    <p class="footer-copyright" style="text-align: center">
     © 2024 Swarup Bamjan. All rights reserved. 
    </p>
  </div>
</footer>
